body{
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
  
}
.top-bar{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.baner h2 {
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}
.baner-text {
    font-size: 16px;
    color: #627382;
    line-height: 1.6;
    margin-bottom: 30px;
}
.cta-button1 {
    display: inline-flex;
    align-items: center;
    background-color: #30B868;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    gap: 10px;
    border: none;
}

.baner {
    padding: 80px 20px;
    background-color: #fcfcfc; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 677px;
    background: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.cta-button1:hover {
    background-color: #218838;
}

.cta-footer-text {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}
.early{
    width: 229px;
    height: 26px;
    background-color: #fcfcfc;
    border-radius: 100px;
    margin-top: 180px;
    margin-left:270px ;
}
.baner-text h2{
    color: #30B868;
    font-size: 16px;
}
.fa-circle-dot{
    color: #508968;
    border-radius: 50%;
}
.text-not{
    color: #30B868;
    font-size: 75px;
}
.text-not{
    color: #30B868;
    font-size: 75px;
    
}
.cta-description1{
   color: #ffffff;
    font-size: 69px;
}
.text-pri{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 50px;
}

.text1 ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
.text1 ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.text1 ul li a:active{
    color: blue;
}
.top-bar button{
    width: 164px;
    height: 44px;
    color: white;
    font-size: 16;
    border-radius: 4px;
    background-color: #30B868;
    border: none;
}
#hero-baner{
    background: url("assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 640px;
    
   
}
.continar h1{
    font-size: 48px;
    font-weight: 700;
    font-weight: bold;
    color: #001931;
    text-align: center;
}
.continar p{
     font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    margin-bottom: 45px;
}
.fast{
    width: 322px;
    height: 300px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border: none;
    
}
.img-degin{
    width: 32px;
    height: 32px;
    background-color: #f95555;
    border-radius: 100%;
    padding: 13px 14px;
    margin: 0 auto;
    margin-top: 68px;
    
}
.fast h2{
    font-size: 24px;
    color: #001931;
    font-weight: bold;
}

.fast p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.flax{
   display: flex;
   gap: 24px;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 10px;

}
.degin{
    width: 28px;
    height: 29px;
    background-color: #f95555;
    border-radius: 100%;
    padding: 6px 6px;
    margin: 0 auto;
    margin-top: 68px;
}
.section3{
    width: 1360px;
    height: 600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 60px;
    
}
.baner2-text{
    margin-bottom: 10px;
}
.baner2-text h5{
    color: #30B868;
    font-size: 16px;
}
.baner2-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #001931;
    margin-top: -20px;
}
.baner2-text p{
    color: #627382;
    font-size: 16px;
    
}
.baner2-text h6{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #001931;
   
}
.baner-line-text{
    margin-bottom: -90px;
    line-height: 0;
}
.cta-container{
    width: 1360px;
    height: 385px;
    background-color: rgba(247, 246, 242, 1);;
    margin: o auto;
}

.cta-section h2 {
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}
.cta-description {
    font-size: 16px;
    color: #627382;
    line-height: 1.6;
    margin-bottom: 30px;
}
.cta-button {
    display: inline-flex;
    align-items: center;
    background-color: #30B868;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    gap: 10px;
}
.cta-section {
    padding: 80px 20px;
    background-color: #fcfcfc; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cta-button:hover {
    background-color: #218838;
}

.cta-footer-text {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}
footer {
   width: auto;
    height: 348px;
    background-color:  #001931;
   
}

.footer-box {
    padding-top: 100PX;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1000PX;
    align-items: center;
    
}
.footer-text p {
    font-size: 20px;
    color: #FFFFFF;
}
.social-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.social-icons i {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    align-items: center;
    color:  #ffffff;
}

.social-icons i:hover {
    background-color: blue;
}
hr{
    width: 1360px;
    opacity: 0.2;
    margin: 40px 0PX 20px 0px;
    margin: 0 auto;
    margin-top: 100px;
    
}
.footer-bottom {
    text-align: center;
    margin-top: 20PX;
}

.footer-bottom p {
    font-size: 16px;
    color: #FAFAFA;
}
.get-button:hover {
    background-color: #218838;
}